# Configurações do Banco de Dados
# Para SQLite local: sqlite:///nome_do_banco.db
DATABASE_URL=sqlite:///historico.db

# Configurações do Servidor Flask
# Use 0.0.0.0 para aceitar conexões externas ou 127.0.0.1 para local
FLASK_HOST=127.0.0.1
FLASK_PORT=5000

# Nota: Após clonar o repositório, copie este arquivo para um novo arquivo chamado '.env'