# Banco de Dados Local
*.db
*.sqlite
instance/
backend/historico.json

# Python (Arquivos compilados e cache)
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambientes Virtuais
venv/
.env
.flaskenv